@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3Kz-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #1C1118;
}
h1,
h2,
h3,
h4 {
  font-family: 'Anton', sans-serif;
}
h1 {
  font-size: 4.4rem;
}
h2 {
  font-size: 4.2rem;
}
h3 {
  font-size: 3.6rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.5;
}
.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
}
.triptych {
  display: flex;
}
.triptych .step {
  width: 30%;
}
.bottom-section {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
.bottom-section img {
  max-width: 100%;
  max-height: 100%;
}
.down {
  align-self: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links {
  width: 32.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .buttons-container {
  display: flex;
}
nav .btn {
  background: #FFAD43;
  font-size: 2rem;
  font-weight: bold;
  width: 10rem;
  height: 3.6rem;
  border-radius: 0.7rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
nav h1 {
  font-family: 'Forque', 'Anton', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 1.2rem;
}
.links a {
  font-size: 2rem;
  font-weight: bold;
  color: #cc3333;
  text-decoration: none;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/burger.jpg");
  height: 50vh;
  width: 50vw;
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
}
.hero.team {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/chips.jpg");
  background-position: center;
}
.hero-content {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-content h2 {
  font-size: 5.4rem;
  line-height: 1.25;
  margin-bottom: 2.8rem;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.4rem #1C1118;
}
footer {
  color: #D6D6D5;
  background: #cc3333;
  padding: 2rem 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer .column {
  width: 30%;
}
footer .column .icon {
  font-size: 3.4rem;
  color: #D6D6D5;
}
footer h1 {
  font-family: 'Forque', 'Anton', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  font-size: 4rem;
  text-transform: uppercase;
}
footer .links a {
  color: #D6D6D5;
  display: block;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}
footer p {
  font-size: 1.6rem;
  text-align: right;
}
.btn {
  background: #FFAD43;
  font-size: 2rem;
  font-weight: bold;
  width: 18rem;
  height: 4rem;
  border-radius: 0.7rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container img {
  max-width: 100%;
  max-height: 100%;
}
.meet-the-team h3 {
  color: #cc3333;
  text-align: center;
  padding-top: 3rem;
  line-height: 1.2;
}
.meet-the-team .row {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
  border-bottom: 1px solid #89471A;
  padding: 2.5rem 3rem;
}
.meet-the-team .row strong {
  font-weight: bold;
}
.meet-the-team .avatar {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border-radius: 50%;
}
.meet-the-team .profile {
  margin-left: 1rem;
}
.upcoming-stuff {
  padding: 5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upcoming-stuff h3 {
  padding-bottom: 1.5rem;
}
.upcoming-stuff p {
  padding-bottom: 1rem;
}
.upcoming-stuff .img-container {
  width: 50%;
}
.upcoming-stuff .img-container img {
  max-width: 100%;
  height: auto;
}
