footer {
    color: @light-gray;
    background: @footer-background;
    padding: 2.0rem 0;
    
    .container {
        .flex(space-between, start);

        @media @mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    .column {
        width: 30%;

        .icon {
            font-size: 3.4rem;
            color: @light-gray;
        }

        @media @mobile {
            text-align: center;
        }
    }

    h1 {
        .logo-font();
        font-size: 3.0rem;
        text-transform: uppercase;

        @media @mobile {
            text-align: center;
        }
    }


    .links a {
        color: @light-gray;
        display: block;
        font-size: 1.8rem;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;
    }

    p {
        font-size: 1.6rem;
        text-align: right;

        @media @mobile {
            text-align: center;
        }
    }

    a.credits {
        font-size: 1.2rem;

        @media @mobile {
            margin-bottom: 1.0rem;
        }
    }
}