* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: @main-font-color;
}

h1, h2, h3, h4 {
    font-family: 'Anton', sans-serif;
    // color: @header-font-color;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 3.6rem;
}

p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.container {
    max-width: @container-width-px;
    width: 100%;
    margin: 0 auto;
    background: blue;
}

header {
    display: flex;
}


.triptych {
    display: flex;
    }

.bottom-section {
    max-width: @container-width-px;
    width: 100%;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.bottom-section img {
    max-width: 100%;
    max-height: 100%;
    margin: 2%;
}
.down {
    align-self: center;
}
#triptych .step {
    display: flex;
    justify-content: space-around;
}
#triptych .step  div {
    text-align: center;
    width: 15%;
}
#triptych .step  div p {
    text-align: justify;
}


