nav {
    .flex(space-between, center);

    .links {
        width: 35.0rem;
        
        .flex(space-between, center);
    
        // @media @phone {
        //     width: 72%;
        // }
    }

    .links a {
        font-size: 2.0rem;
        font-weight: bold;
        color: @nav-font;
        text-decoration: none;
    }

    h1 {
        .logo-font();
        text-transform: uppercase;
        padding: 1.2rem;
    }

    .buttons-container {
        display: flex;
    }

    .btn {
        .button();
        margin-right: 1.0rem;
    }
}