@container-width-px: 950px;

// COLOR VARS

@yellow-orange: #FFAD43;
@licorice: #1C1118;
@flame: #EC4E20;
@saddle-brown: #89471A;
@light-gray: #D6D6D5;
@wine: #cc3333;

// COLOR POINTERS

@nav-font: @wine;

@main-font-color: @licorice;
@header-font-color: @wine;

// @footer-background: @wild-sand;
// @footer-font-color: @waterloo;




// @btn-bg-color: #22283A;
// @border-real: #dee2e6;

// // Mobile var
// @phone: ~"(max-width: 500px)";